# File .gitignore
# ---------------
# Python generati
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
cache_directory/

# Ambiente virtuale
venv/
.env/
.venv/

# Dati e cache
data/
cache_directory/
*.db
*.parquet

# Configurazioni locali
.env
.local
.vscode/
.idea/

# Build e distribuzione
build/
dist/
*.egg-info/
*.egg
.arimastockforecaster.egg-info/

# Log e output
*.log
*.csv

# Test specifici
.coverage
htmlcov/

# System files
.DS_Store
Thumbs.db

# File di documentazione generati
docs/_build/

*.parquet

!data/**/*.dvc